@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #75dadb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  background-color: #fff;
  
}

.profilPhoto {
  border: 5px solid #fff;
  position: absolute;
  top: 95px;
  border-radius: 50%;
}

.background {
  border-radius: 15px 15px 0 0;
}

.name-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.text-section {
  margin-top: 70px;
  padding: 10px;
}

.footer {
  margin-top: 25px;
  display: flex;
  border-top: 1px solid rgb(204, 204, 204);
  width: 300px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

.areaOne,
.areaTwo,
.areaThree {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 23px;
}

.age {
  color: hsl(227, 10%, 46%);
}

.header {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.name {
  color: hsl(229, 23%, 23%);
  padding: 3px;
  font-weight: 700;
}
